body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    background-color: #f1f9f9;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 50px auto;
  }

  .app_header {
    display:center;
  }

  .flex-container {
    display: flex;
  }

  #settings {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
  }



  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0 0 0.1em 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 1em;
    margin: 0 50px 50px;
    color: #999;
  }

  h3 {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0 0 50px;
    color: #999;
  }
  
  a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
  }
  